@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Richieschichue";
    src: url("/fonts/Richieschichue.otf") format("opentype"),
        url("/fonts/Richieschichue.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
